<div *ngIf="savedData != null">
    <h1> Ultimele statii verificate </h1>
    <div *ngFor="let stop of savedData">
        <button type="submit" class="btn btn-primary" (click)="getRealBySavedData(stop)">{{stop.bus.name}} -
            {{stop.stop.name}} catre {{stop.directionName}}</button>
    </div>
    <h2> Cautare</h2>
</div>

<form class="wrap">
    <div class="search">
        <input class="searchTerm" type="text" name="filterTerm" placeholder="Numar linie" [(ngModel)]="busNumber"
            (input)="filterLines(busNumber)" />
    </div>
</form>
<div *ngIf="searchView">
    <div *ngFor="let line of filteredLines">
        <button type="submit" class="btn btn-primary" (click)="getBus(line.name)">{{line.name}}</button>
    </div>
</div>

<div *ngIf="directionsView">
    <h2 onfocus aria-live="assertive"> Selectati directia in care doriti sa mergeti cu {{bus.name}}</h2>
    <button type="submit" class="btn btn-primary" (click)="getStations(0)">{{bus.direction_name_tur}} </button>
    <button type="submit" class="btn btn-primary" (click)="getStations(1)">{{bus.direction_name_retur}}</button>
</div>
<div *ngIf="stopsView">
    <h2 aria-live="assertive"> Toate statiile Pentru {{bus.name}} catre {{directionName}}</h2>
    <form class="wrap">
        <div class="search">
            <input class="searchTerm" type="text" name="filterTerm" placeholder="nume statie" [(ngModel)]="filterTerm"
                (input)="filterStops(filterTerm)" />
        </div>
    </form>

    <div *ngFor="let stop of filteredStops">
        <button type="submit" class="btn btn-primary" (click)="getRealTimeData(stop, true)">
            {{stop.name}}
        </button>
    </div>
</div>

<div *ngIf="realTimeView" aria-live="assertive">
    <p align="center"> Selectat catre {{directionName}}</p>
    <p> Locația ta: {{test}}</p>
    <h3 onfocus>sosesc liniile </h3>
    <p>In statia {{selectedStop.name}}, {{selectedStop.description}}</p>
    <div *ngFor="let line of lines" aria-live="assertive">
        {{line.name}} |
        <div *ngIf="line.arriving_time != null">
            {{line.arriving_time/60}} min,
        </div>
        <div *ngIf="line.is_timetable; else notShow"> estimat.
        </div>
        <ng-template #notShow> real.
        </ng-template>
        <div *ngIf="line.id == bus.id && vehicleDistance != null && vehicleDistance != '0'">
            {{vehicleDistance}}m, {{vehicleNearStation}}.
        </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="getRealTimeData(selectedStop, false)">
        actualizare date {{selectedStop.name}}
    </button>

</div>